name: Publish Starters
on:
  workflow_dispatch:
jobs:
  publish-starters:
    name: Publish Starters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Publish Starters
        uses: LekoArts/actions-push-subdirectories@master
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: examples LekoArts starter-name master
